.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../../images/theme1.jpg")
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 222px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 30px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 49px auto 60px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 660px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 506px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 380px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 239px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3.75rem;
    }
  }