.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)), url(../../images/theme1.jpg)
}

.u-section-1 .u-sheet-1 {
    min-height: 800px
}

.u-section-1 .u-text-1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 222px auto 0
}

.u-section-1 .u-text-2 {
    margin: 30px auto 0
}

.u-section-1 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 49px auto 60px
}

@media (max-width:1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 660px
    }
}

@media (max-width:991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 506px
    }
}

@media (max-width:767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 380px
    }
}

@media (max-width:575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 239px
    }
    .u-section-1 .u-text-1 {
        font-size: 3.75rem
    }
}

.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)), url(../../images/theme1.jpg)
}

.u-section-1 .u-sheet-1 {
    min-height: 800px
}

.u-section-1 .u-text-1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 222px auto 0
}

.u-section-1 .u-text-2 {
    margin: 30px auto 0
}

.u-section-1 .u-btn-1 {
    background-image: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 49px auto 60px
}

@media (max-width:1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 660px
    }
}

@media (max-width:991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 506px
    }
}

@media (max-width:767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 380px
    }
}

@media (max-width:575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 239px
    }
    .u-section-1 .u-text-1 {
        font-size: 3.75rem
    }
}

.u-btn {
    display: table;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    -webkit-text-decoration-skip: objects;
    font-style: initial;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start
}

.u-post-content a,
.u-text a {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit
}

.u-clearfix:after,
.u-clearfix:before {
    content: '';
    display: table
}

.u-clearfix:after {
    clear: both
}

.u-image {
    object-fit: cover;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat
}

img.u-image {
    overflow: hidden
}

.u-image.u-image-tiles {
    background-size: initial;
    background-repeat: repeat;
    background-position: top left !important
}

.u-sheet.u-image,
section.u-image {
    overflow: visible
}

.u-text .u-image {
    display: inline-block
}

.u-post-content .u-image {
    margin-bottom: .5rem
}

.u-sheet {
    position: relative;
    width: 1140px;
    margin: 0 auto
}

@media (min-width:1200px) {
    .u-sheet {
        width: 1140px
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .u-sheet {
        width: 940px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .u-sheet {
        width: 720px
    }
}

@media (min-width:576px) and (max-width:767px) {
    .u-sheet {
        width: 540px
    }
}

@media (max-width:575px) {
    .u-sheet {
        width: 340px
    }
}

.u-align-center {
    text-align: center
}

.u-image {
    color: #111
}

.u-shading {
    color: #fff
}

.u-body {
    color: #111;
    background-color: #fff
}

.u-body.u-palette-2-base,
.u-palette-2-base {
    color: #fff;
    background-color: #db545a
}

.u-button-style.u-palette-2-base,
.u-button-style.u-palette-2-base[class*=u-border-] {
    color: #fff !important;
    background-color: #db545a !important
}

.u-button-style.u-button-style.u-palette-2-base:active,
.u-button-style.u-button-style.u-palette-2-base[class*=u-border-]:active,
.u-button-style.u-palette-2-base:focus,
.u-button-style.u-palette-2-base:hover,
.u-button-style.u-palette-2-base[class*=u-border-]:focus,
.u-button-style.u-palette-2-base[class*=u-border-]:hover {
    color: #fff !important;
    background-color: #d63b42 !important
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.u-btn {
    /*display: inline-block;*/
    display: table;
    /*TODO maye need another solution for negative marin*/
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    -webkit-text-decoration-skip: objects;
    font-style: initial;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
}

.u-link,
a {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    height: auto;
    min-height: 100%;
}

body,
aside,
.u-sidebar-block,
section,
header,
footer {
    position: relative;
}

section>*,
header>*,
footer>*,
.u-sheet>* {
    position: relative;
}

a {
    color: #259bca;
    text-decoration: none;
}

.u-clearfix:after,
.u-clearfix:before {
    content: '';
    display: table;
}

.u-clearfix:after {
    clear: both;
}

.u-sheet {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: 575px) {
    .u-sheet {
        width: 340px;
    }
}

.u-valign-middle,
.u-valign-top,
.u-valign-bottom {
    display: flex;
    flex-direction: column;
}

.u-valign-middle>*,
.u-valign-top>*,
.u-valign-bottom>* {
    flex-shrink: 0;
}

.u-valign-middle {
    justify-content: center;
}

html {
    font-size: 16px;
}

.u-body {
    font-size: 1rem;
    line-height: 1.6;
}

.u-valign-middle>*,
.u-valign-top>*,
.u-valign-bottom>* {
    flex-shrink: 0;
}

.u-valign-middle {
    justify-content: center;
}

.u-align-left {
    text-align: left;
}

.u-button-style[class*="u-custom-color-"],
.u-button-style[class*="u-palette-"],
.u-button-style[class*="u-gray-"],
.u-button-style.u-white,
.u-button-style.u-black {
    border-width: 0;
}

.u-body {
    font-family: 'Open Sans', sans-serif;
}

.u-body {
    color: #111111;
    background-color: #ffffff;
}

.u-palette-1-base,
.u-body.u-palette-1-base,
.u-container-style.u-palette-1-base:before,
.u-container-layout.u-palette-1-base:before,
.u-table-alt-palette-1-base tr:nth-child(even) {
    color: #ffffff;
    background-color: #0d244b;
}

.u-button-style.u-palette-1-base,
.u-button-style.u-palette-1-base[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #0d244b !important;
}

a {
    line-height: 1.8;
}

.u-btn {
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 20px;
}

.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item)>a,
.u-gradient>.u-container-layout>a,
.u-image:not(.u-shading)>.u-container-layout>a,
a {
    color: #0d244b;
}

.u-overlap.u-overlap-transparent:not(.u-overlap-contrast) .u-header :not(.u-nav-item)>.u-btn,
.u-gradient>.u-container-layout>.u-btn,
.u-image:not(.u-shading)>.u-container-layout>.u-btn,
.u-btn {
    background-color: #0d244b;
    color: #ffffff;
}

.u-header {
    background-image: none;
}

.u-header .u-sheet-1 {
    min-height: 72px;
}

@media (max-width: 767px) {
    .u-header .u-sheet-1 {
        min-height: auto;
    }
}

html {
    font-size: 16px;
}

.u-section-1 .u-sheet-1 {
    min-height: 500px;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 60px auto;
}

.u-section-2 .u-sheet-1 {
    min-height: 500px;
}