        .u-section-1 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)), url(../../images/giphy.gif)
        }
        
        .u-section-1 .u-sheet-1 {
            min-height: 800px
        }
        
        .u-section-1 .u-text-1 {
            font-size: 6rem;
            font-weight: 700;
            margin: 222px auto 0
        }
        
        .u-section-1 .u-text-2 {
            margin: 30px auto 0
        }
        
        .u-section-1 .u-btn-1 {
            background-image: none;
            text-transform: uppercase;
            font-weight: 700;
            margin: 49px auto 60px
        }
        
        @media (max-width:1199px) {
            .u-section-1 .u-sheet-1 {
                min-height: 660px
            }
        }
        
        @media (max-width:991px) {
            .u-section-1 .u-sheet-1 {
                min-height: 506px
            }
        }
        
        @media (max-width:767px) {
            .u-section-1 .u-sheet-1 {
                min-height: 380px
            }
        }
        
        @media (max-width:575px) {
            .u-section-1 .u-sheet-1 {
                min-height: 239px
            }
            .u-section-1 .u-text-1 {
                font-size: 3.75rem
            }
        }
        
        .u-section-1 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)), url(../../images/giphy.gif)
        }
        
        .u-section-1 .u-sheet-1 {
            min-height: 800px
        }
        
        .u-section-1 .u-text-1 {
            font-size: 6rem;
            font-weight: 700;
            margin: 222px auto 0
        }
        
        .u-section-1 .u-text-2 {
            margin: 30px auto 0
        }
        
        .u-section-1 .u-btn-1 {
            background-image: none;
            text-transform: uppercase;
            font-weight: 700;
            margin: 49px auto 60px
        }
        
        @media (max-width:1199px) {
            .u-section-1 .u-sheet-1 {
                min-height: 660px
            }
        }
        
        @media (max-width:991px) {
            .u-section-1 .u-sheet-1 {
                min-height: 506px
            }
        }
        
        @media (max-width:767px) {
            .u-section-1 .u-sheet-1 {
                min-height: 380px
            }
        }
        
        @media (max-width:575px) {
            .u-section-1 .u-sheet-1 {
                min-height: 239px
            }
            .u-section-1 .u-text-1 {
                font-size: 3.75rem
            }
        }
        
        .u-btn {
            display: table;
            cursor: pointer;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            text-transform: inherit;
            font-style: inherit;
            font-weight: inherit;
            text-decoration: none;
            border: 0 none transparent;
            outline-width: 0;
            background-color: transparent;
            margin: 0;
            -webkit-text-decoration-skip: objects;
            font-style: initial;
            white-space: nowrap;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            vertical-align: middle;
            text-align: center;
            padding: 10px 30px;
            border-radius: 0;
            align-self: flex-start
        }
        
        .u-post-content a,
        .u-text a {
            font-size: inherit;
            font-family: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            text-transform: inherit
        }
        
        .u-clearfix:after,
        .u-clearfix:before {
            content: '';
            display: table
        }
        
        .u-clearfix:after {
            clear: both
        }
        
        .u-image {
            object-fit: cover;
            display: block;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat
        }
        
        img.u-image {
            overflow: hidden
        }
        
        .u-image.u-image-tiles {
            background-size: initial;
            background-repeat: repeat;
            background-position: top left !important
        }
        
        .u-sheet.u-image,
        section.u-image {
            overflow: visible
        }
        
        .u-text .u-image {
            display: inline-block
        }
        
        .u-post-content .u-image {
            margin-bottom: .5rem
        }
        
        .u-sheet {
            position: relative;
            width: 1140px;
            margin: 0 auto
        }
        
        @media (min-width:1200px) {
            .u-sheet {
                width: 1140px
            }
        }
        
        @media (min-width:992px) and (max-width:1199px) {
            .u-sheet {
                width: 940px
            }
        }
        
        @media (min-width:768px) and (max-width:991px) {
            .u-sheet {
                width: 720px
            }
        }
        
        @media (min-width:576px) and (max-width:767px) {
            .u-sheet {
                width: 540px
            }
        }
        
        @media (max-width:575px) {
            .u-sheet {
                width: 340px
            }
        }
        
        .u-align-center {
            text-align: center
        }
        
        .u-image {
            color: #111
        }
        
        .u-shading {
            color: #fff
        }
        
        .u-body {
            color: #111;
            background-color: #fff
        }
        
        .u-body.u-palette-2-base,
        .u-palette-2-base {
            color: #fff;
            background-color: #db545a
        }
        
        .u-button-style.u-palette-2-base,
        .u-button-style.u-palette-2-base[class*=u-border-] {
            color: #fff !important;
            background-color: #db545a !important
        }
        
        .u-button-style.u-button-style.u-palette-2-base:active,
        .u-button-style.u-button-style.u-palette-2-base[class*=u-border-]:active,
        .u-button-style.u-palette-2-base:focus,
        .u-button-style.u-palette-2-base:hover,
        .u-button-style.u-palette-2-base[class*=u-border-]:focus,
        .u-button-style.u-palette-2-base[class*=u-border-]:hover {
            color: #fff !important;
            background-color: #d63b42 !important
        }
        
        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%
        }
        
        body {
            margin: 0
        }
        
        article,
        footer,
        header,
        main,
        menu,
        nav,
        section {
            display: block
        }
        
        a {
            background-color: transparent;
            -webkit-text-decoration-skip: objects
        }
        
        .u-btn {
            display: table;
            cursor: pointer;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            text-transform: inherit;
            font-style: inherit;
            font-weight: inherit;
            text-decoration: none;
            border: 0 none transparent;
            outline-width: 0;
            background-color: transparent;
            margin: 0;
            -webkit-text-decoration-skip: objects;
            font-style: initial;
            white-space: nowrap;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            vertical-align: middle;
            text-align: center;
            padding: 10px 30px;
            border-radius: 0;
            align-self: flex-start
        }
        
        .u-link,
        a {
            border-top-width: 0;
            border-left-width: 0;
            border-right-width: 0
        }
        
        *,
         :after,
         :before {
            box-sizing: border-box
        }
        
        html {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden
        }
        
        body {
            height: auto;
            min-height: 100%
        }
        
        body,
        footer,
        header,
        section {
            position: relative
        }
        
        .u-sheet>*,
        footer>*,
        header>*,
        section>* {
            position: relative
        }
        
        a {
            color: #259bca;
            text-decoration: none
        }
        
        .u-clearfix:after,
        .u-clearfix:before {
            content: '';
            display: table
        }
        
        .u-clearfix:after {
            clear: both
        }
        
        .u-sheet {
            position: relative;
            width: 1140px;
            margin: 0 auto
        }
        
        @media (max-width:575px) {
            .u-sheet {
                width: 340px
            }
        }
        
        html {
            font-size: 16px
        }
        
        .u-body {
            font-size: 1rem;
            line-height: 1.6
        }
        
        .u-button-style[class*=u-custom-color-],
        .u-button-style[class*=u-gray-],
        .u-button-style[class*=u-palette-] {
            border-width: 0
        }
        
        .u-body {
            font-family: 'Open Sans', sans-serif
        }
        
        .u-body {
            color: #111;
            background-color: #fff
        }
        
        .u-body.u-palette-1-base,
        .u-palette-1-base {
            color: #fff;
            background-color: #0d244b
        }
        
        .u-button-style.u-palette-1-base,
        .u-button-style.u-palette-1-base[class*=u-border-] {
            color: #fff !important;
            background-color: #bd5c24 !important
        }
        
        a {
            line-height: 1.8
        }
        
        .u-btn {
            letter-spacing: 1px;
            font-size: 1rem;
            line-height: 1.4;
            margin-top: 20px;
            margin-bottom: 20px
        }
        
        .u-image:not(.u-shading)>.u-container-layout>a,
        a {
            color: #0d244b
        }
        
        .u-btn,
        .u-image:not(.u-shading)>.u-container-layout>.u-btn {
            background-color: #c26c33;
            color: rgb(197, 181, 181)
        }
        
        .u-header {
            background-image: none
        }
        
        .u-header .u-sheet-1 {
            min-height: 72px
        }
        
        @media (max-width:767px) {
            .u-header .u-sheet-1 {
                min-height: auto
            }
        }
        
        html {
            font-size: 16px
        }
        
        .u-section-1 .u-sheet-1 {
            min-height: 500px
        }
        
        .u-section-1 .u-btn-1 {
            border-style: none;
            font-weight: 700;
            text-transform: uppercase;
            margin: 60px auto
        }
        
        .u-section-2 .u-sheet-1 {
            min-height: 500px;
        }
        /* the loai  */
        
        .gallery {
            display: flex;
            flex-wrap: wrap;
            margin: -1rem -1rem;
        }
        
        .gallery-image {
            width: 160px;
            height: 60px;
            object-fit: cover;
            transition: transform 300ms ease-out;
        }
        
        .gallery-image:hover {
            transform: scale(1.1);
        }
        
        .gallery,
        .gallery-item {
            margin: 12px;
        }
        
        .bg {
            background-color: rgb(212, 219, 221);
        }
        
        .glm:hover {
            transform: scale(1.05);
            transition: transform 500ms ease-out;
            filter: orangecale(15%);
            -webkit-filter: brightness(150%);
            -moz-filter: brightness(150%);
            -ms-filter: brightness(150%);
            -o-filter: brightness(150%);
        }
        
        .bgtt {
            background-color: #d5d8dd;
        }
        
        .canle {
            margin-left: 200px;
            margin-right: 200px;
        }